includeConfig "$baseDir/params.config"

process.shell = ['/bin/bash','-e']

process.container = 'quay.io/biocontainers/unicycler:0.4.8--py37h13b99d1_3'

singularity {
  cacheDir = "/shares/amr.imm.uzh/.singularity"
  autoMounts = 'true'
  singularity.enabled = true
  runOptions = '-B /scratch -B /home -B /shares -B /data -B /tmp' 
}

manifest {
  name = "IMMENSE on S3IT"
  version = '0.5.2'
}

profiles {

   slurm {
     executor {
        name="slurm"
        queueSize = 100
        clusterOptions = '--time=24:00:00'
        submitRateLimit = '5 sec'
        exitReadTimeout = '30 min'

     }

     process {
        containerOptions = { workflow.containerEngine == "docker" ? '-u $(id -u):$(id -g)': null}
        time = '5 min'
        clusterOptions = '--time=00:30:00'
        cpus = '16'
        memory = '4G'
        errorStrategy = 'ignore'


        withName: 'bcl2fastq' {
          memory = '50G'
          clusterOptions = '--time=06:00:00'
          time = { 30.min * task.attempt }
          errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
          maxRetries = 3
        }

        withName: 'fastqc' {
          cpus = '1'
          memory = '3G'
        }

        withName: 'multiqc' {
          cpus = '1'
          memory = '500M'
        }

        withName: 'trimmomaticPE' {
          memory = '10G'
          time = { 8.min * task.attempt }
          errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
          maxRetries = 3
        }

        withName: 'trimmomaticSE' {
          memory = '10G'
          time = { 8.min * task.attempt }
          errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
          maxRetries = 3
        }

        withName: 'unicycler' {
          cpus = '8'
          memory = '20G'
          clusterOptions = '--time=12:00:00'
          time = { 2.hour * task.attempt }
          errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
          maxRetries = 2
        }

        withName: 'unicyclerSE' {
          cpus = '8'
          memory = '20G'
          clusterOptions = '--time=12:00:00'
          time = { 2.hour * task.attempt }
          errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
          maxRetries = 2
        }

        withName: 'bwaIndex' {
          memory = '2G'
        }

        withName: 'samtools' {
          memory = '20G'
        }

        withName: 'pilon' {
          memory = '20G'
          time = { 8.min * task.attempt }
          errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
          maxRetries = 3
        }

        withName: 'pilonSE' {
          memory = '20G'
          time = { 8.min * task.attempt }
          errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
          maxRetries = 3
        }

        withName: 'pilon_remapping' {
          memory = '20G'
          time = { 8.min * task.attempt }
          errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
          maxRetries = 3
        }

        withName: 'pilon_remappingSE' {
          memory = '20G'
          time = { 8.min * task.attempt }
          errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
          maxRetries = 3
        }

        withName: 'prokka' {
          memory = '50G'
          clusterOptions = '--time=06:00:00'
          time = { 30.min * task.attempt }
          errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
          maxRetries = 3
        }

        withName: 'rMLST' {
          memory = '5G'
          time = { 15.min * task.attempt }
          errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
          maxRetries = 3
        }

        withName: 'metaphlan3' {
          memory = '10G'
          clusterOptions = '--time=06:00:00'
          time = { 15.min * task.attempt }
          errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
          maxRetries = 3
          cpus = '8'
        }

        withName: 'metaphlan3SE' {
          memory = '10G'
          clusterOptions = '--time=06:00:00'
          time = { 15.min * task.attempt }
          errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
          maxRetries = 3
          cpus = '8'
        }

        withName: 'abricate' {
          memory = '10G'
          time = { 10.min * task.attempt }
          errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
          maxRetries = 3
        }

        withName: 'busco' {
          memory = '30G'
          clusterOptions = '--time=02:00:00'
          time = { 1.hour * task.attempt }
          errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
          maxRetries = 3
        }

        withName: 'gtdbtk_classify_wf' {
          memory = '60G'
          time = '30 min'

        }

     }

   }

}
