includeConfig "$baseDir/params.config"

process.shell = ['/bin/bash','-e']

process.container = 'quay.io/biocontainers/unicycler:0.4.8--py39h98c8e45_5'


singularity {
  cacheDir = params.singularity_container_cache
  autoMounts = 'true'
  singularity.enabled = true
  runOptions = '-B /scratch -B /home -B /shares -B /data -B /tmp' 
}

manifest {
  name = "IMMENSE on S3IT"
  version = '0.5.2'
}

profiles {

   slurm {
    executor {
        name="slurm"
        queueSize = 100
        clusterOptions = '--time=24:00:00'
        submitRateLimit = '5 sec'
        exitReadTimeout = '30 min'

     }

     process {
        containerOptions = { workflow.containerEngine == "docker" ? '-u $(id -u):$(id -g)': null}
        time = '5 min'
        cpus = '4'
        memory = '4G'
        errorStrategy = { task.attempt <= 2 ? 'retry' : 'ignore' }
        cache = 'lenient'
        
        withName: 'bcl2fastq' {
          cpus = '16'
          memory = '50G'
          clusterOptions = '--time=06:00:00'
          time = { 30.min * task.attempt }
          errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
          maxRetries = 3
        }

        withName: 'fastqc' {
          cpus = '2'
          memory = '8G'
          errorStrategy = { task.attempt <= 2 ? 'retry' : 'ignore' }
        }

        withName: 'multiqc' {
          cpus = '1'
          memory = '500M'
        }

        withName: 'trimmomaticPE' {
          cpus = '16'
          memory = '10G'
          time = { 15.min * task.attempt }
          errorStrategy = { task.attempt <= 2 ? 'retry' : 'ignore' }
          maxRetries = 3
        }

        withName: 'trimmomaticSE' {
          cpus = '16'
          memory = '10G'
          time = { 15.min * task.attempt }
          errorStrategy = { task.attempt <= 2 ? 'retry' : 'ignore' }
          maxRetries = 3
        }

        withName: 'unicycler' {
          cpus = '16'
          memory = '30G'
          clusterOptions = '--time=15:00:00'
          time = { 2.hour * task.attempt*task.attempt }
          errorStrategy = { task.attempt <= 2 ? 'retry' : 'ignore' }
        }

        withName: 'unicyclerSE' {
          cpus = '16'
          memory = '30G'
          clusterOptions = '--time=15:00:00'
          time = { 2.hour * task.attempt*task.attempt }
          errorStrategy = { task.attempt <= 2 ? 'retry' : 'ignore' }
        }

        withName: 'bwaIndex' {
          memory = '2G'
        }

        withName: 'samtools' {
          memory = '20G'
        }

        withName: 'pilon_remapping' {
          memory = '20G'
          time = { 8.min * task.attempt }
          errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
          maxRetries = 3
        }

        withName: 'pilon_remappingSE' {
          memory = '20G'
          time = { 8.min * task.attempt }
          errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
          maxRetries = 3
        }

        withName: 'prokka' {
          cpus = 16
          memory = '30G'
          clusterOptions = '--time=06:00:00'
          time = { 30.min * task.attempt }
          errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
          maxRetries = 3
        }

        withName: 'rMLST' {
          memory = '5G'
          time = { 15.min * task.attempt }
          errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
          maxRetries = 3
        }

        withName: 'metaphlan4' {
          cpus = '16'
          memory = '40G'
          clusterOptions = '--time=06:00:00'
          time = { 15.min * task.attempt }
          errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
          maxRetries = 3
        }

        withName: 'metaphlan4SE' {
          cpus = '16'
          memory = '40G'
          clusterOptions = '--time=06:00:00'
          time = { 15.min * task.attempt }
          errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
          maxRetries = 3
        }

        withName: 'abricate' {
          memory = '10G'
          time = { 10.min * task.attempt }
          errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
          maxRetries = 3
        }

        withName: 'busco' {
          cpus = '16'
          memory = '30G'
          clusterOptions = '--time=02:00:00'
          time = { 1.hour * task.attempt }
          errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
          maxRetries = 3
        }

        withName: 'gtdbtk_classify_wf' {
          cpus = '16'
          memory = '80G'
          time = {'30 min' * task.attempt }
          errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
        }

        withName: 'summary_sample' {
          cpus = '2'
          memory = '4G'
        }

        withName: 'alignRemapping' {
          cpus = '16'
          memory = '10G'
        }

        withName: 'alignRemappingSE' {
          cpus = '16'
          memory = '10G'
        }

     }

   }

}
