includeConfig "$baseDir/params.config"

process.shell = ['/bin/bash','-e']

process.container = 'quay.io/biocontainers/unicycler:0.4.8--py39h98c8e45_5'


singularity {
  cacheDir = params.singularity_container_cache
  enabled = true
  autoMounts = 'true'
  //runOptions = '-B /scratch -B /home -B /shares -B /data -B /tmp' 
}

manifest {
  name = "IMMENSE on S3IT"
  version = '1.0.0'
}

profiles {
   slurm {
    executor {
        name="slurm"
        queueSize = 100 // There is a 1000 limit on the S3IT cluster
        pollInterval = '5s'
        //clusterOptions = '--time=00:30:00'
        submitRateLimit = '1/2sec' // prevents overloading of SLURM scheduler
        exitReadTimeout = '10m'
        retry.delay = '2s'
        queueGlobalStatus = true // checks all SLURM queues in case some jobs where assigned elsewhere
     }

     process {
        containerOptions = { workflow.containerEngine == "docker" ? '-u $(id -u):$(id -g)': null}
        time = {'10.min' * task.attempt }
        cpus = '4'
        memory = '4G'
        errorStrategy = { task.attempt <= 2 ? 'retry' : 'ignore' }
        cache = 'lenient' // more robust resuming
        //scratch = true // setting it for specific processes only
        stageOutMode = 'rsync'
        
        withName: 'bcl2fastq' {
          cpus = '16'
          memory = '50G'
          time = { 30.min * task.attempt }
          errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
          maxRetries = 3
        }

        withName: 'fastqc.*' {
          cpus = '2'
          memory = '4G'
          time = { 5.min * task.attempt }
          errorStrategy = { task.attempt <= 2 ? 'retry' : 'ignore' }
          scratch = true  // otherwise it takes forever if cluster is busy
        }

        withName: 'multiqc.*' {
          cpus = {task.attempt==1 ? '1' : '2'}
          memory = {task.attempt==1 ? '1G' : '5G'}
        }

        withName: 'trimmomaticPE' {
          cpus = '16'
          memory = '10G'
          time = { 15.min * task.attempt }
          errorStrategy = { task.attempt <= 2 ? 'retry' : 'ignore' }
          maxRetries = 3
          scratch = true  // otherwise trimmomatic takes forever if cluster is busy
        }

        withName: 'trimmomaticSE' {
          cpus = '16'
          memory = '10G'
          time = { 15.min * task.attempt }
          errorStrategy = { task.attempt <= 2 ? 'retry' : 'ignore' }
          maxRetries = 3
          scratch = true  // otherwise trimmomatic takes forever if cluster is busy

        }

        withName: 'unicycler' {
          cpus = '16'
          memory = '15G'
          //clusterOptions = '--time=15:00:00'
          time = { 3.hour * task.attempt }
          errorStrategy = { task.attempt <= 2 ? 'retry' : 'ignore' }
          scratch = true // makes it run a lot faster by working locally
        }

        withName: 'unicyclerSE' {
          cpus = '16'
          memory = '15G'
          //clusterOptions = '--time=15:00:00'
          time = { 3.hour * task.attempt }
          errorStrategy = { task.attempt <= 2 ? 'retry' : 'ignore' }
          scratch = true // makes it run a lot faster by working locally
        }

        withName: 'bwaIndex' {
          memory = '2G'
        }

        withName: 'samtools' {
          memory = '8G'
          time = { 10.minute * task.attempt }
        }

        //withName: 'samtoolsRemapping' {
        //  memory = '8G'
        //  time = { 10.minute * task.attempt }
        //}

        withName: 'pilon_remapping' {
          memory = '20G'
          time = { 10.min * task.attempt }
          errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
          maxRetries = 3
          scratch = true // makes it run a lot faster by working locally
        }

        withName: 'pilon_remappingSE' {
          memory = '20G'
          time = { 10.min * task.attempt }
          errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
          maxRetries = 3
          scratch = true // makes it run a lot faster by working locally
        }

        withName: 'prokka' {
          cpus = 10
          memory = '10G'
          //clusterOptions = '--time=06:00:00'
          time = { 1.hour * task.attempt }
          errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
          maxRetries = 3
          // scratch = false

        }

        withName: 'rMLST' {
          memory = '5G'
          time = { 15.min * task.attempt }
          errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
          maxRetries = 3
        }

        withName: 'metaphlan4' {
          cpus = '16'
          memory = '30G'
          time = { 45.min * task.attempt }
          errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
          maxRetries = 3
        }

        withName: 'metaphlan4SE' {
          cpus = '16'
          memory = '30G'
          time = { 15.min * task.attempt }
          errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
          maxRetries = 3
        }

        withName: 'abricate' {
          memory = '10G'
          time = { 10.min * task.attempt }
          errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
          maxRetries = 3
        }

        withName: 'busco' {
          cpus = '16'
          memory = '15G'
          //clusterOptions = '--time=02:00:00'
          time = { 1.hour * task.attempt }
          errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
          maxRetries = 3
          scratch = true
        }

        withName: 'gtdbtk_classify_wf' {
          cpus = '16'
          memory = '80G'
          time = {'1.hour' * task.attempt }
          //clusterOptions = '--time=03:00:00'
          errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
          maxRetries = 3
        }

        withName: 'alignRemapping' {
          cpus = '16'
          memory = {task.attempt==1 ? '5G' : '8G'}
          time = { 15.m * task.attempt }
          scratch = true
        }

        withName: 'alignRemappingSE' {
          cpus = '16'
          memory = {task.attempt==1 ? '5G' : '8G'}
          time = { 15.m * task.attempt }
          scratch = true
        }

        withName: 'link_reads' {
          container = null
          executor = 'local'
          cpus = '1'
          memory = '1G'
        }

        withName: 'links_for_transfer' {
          container = null
          executor = 'local'
          cpus = '1'
          memory = '1G'
        }

        withName: 'summary_sample' {
          container = null
          executor = 'local'
          cpus = '1'
          memory = '1G'
        }

        withName: 'merge_summaries' {
          container = null
          executor = 'local'
          cpus = '1'
          memory = '1G'
        }
     }
   }

  local {
    executor {
        name='local'
        cpus = 112 
        memory = '500 GB'
    }


process {
        containerOptions = { workflow.containerEngine == "docker" ? '-u $(id -u):$(id -g)': null}
        time = {'10.min' * task.attempt }
        cpus = '4'
        memory = '4G'
        errorStrategy = { task.attempt <= 2 ? 'retry' : 'ignore' }
        
        withName: 'bcl2fastq' {
          cpus = '16'
          memory = '50G'
          time = { 30.min * task.attempt }
          errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
          maxRetries = 3
        }

        withName: 'fastqc.*' {
          cpus = '2'
          memory = '6G'
          time = { 5.min * task.attempt }
          errorStrategy = { task.attempt <= 2 ? 'retry' : 'ignore' }
        }

        withName: 'multiqc.*' {
          cpus = {task.attempt==1 ? '1' : '2'}
          memory = {task.attempt==1 ? '2G' : '4G'}
          
        }

        withName: 'trimmomaticPE' {
          cpus = '8'
          memory = '10G'
          time = { 15.min * task.attempt }
          errorStrategy = { task.attempt <= 2 ? 'retry' : 'ignore' }
          maxRetries = 3
        }

        withName: 'trimmomaticSE' {
          cpus = '8'
          memory = '10G'
          time = { 15.min * task.attempt }
          errorStrategy = { task.attempt <= 2 ? 'retry' : 'ignore' }
          maxRetries = 3
        }

        withName: 'unicycler' {
          cpus = '16'
          memory = '15G'
          //clusterOptions = '--time=15:00:00'
          time = { 3.hour * task.attempt }
          errorStrategy = { task.attempt <= 2 ? 'retry' : 'ignore' }
        }

        withName: 'unicyclerSE' {
          cpus = '16'
          memory = '15G'
          //clusterOptions = '--time=15:00:00'
          time = { 3.hour * task.attempt }
          errorStrategy = { task.attempt <= 2 ? 'retry' : 'ignore' }
        }

        withName: 'bwaIndex' {
          cpus = 4
          memory = '2G'

        }

        withName: 'samtools' {
          cpus = 4
          memory = '8G'
          time = { 10.minute * task.attempt }
        }

        withName: 'pilon_remapping' {
          cpus = 4
          memory = '20G'
          time = { 10.min * task.attempt }
          errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
          maxRetries = 3
        }

        withName: 'pilon_remappingSE' {
          cpus = 4
          memory = '20G'
          time = { 10.min * task.attempt }
          errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
          maxRetries = 3
        }

        withName: 'prokka' {
          cpus = 10
          memory = '8G'
          time = { 1.hour * task.attempt }
          errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
          maxRetries = 3
        }

        withName: 'rMLST' {
          cpus = 4
          memory = '4G'
          time = { 15.min * task.attempt }
          errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
          maxRetries = 3
        }

        withName: 'metaphlan4' {
          cpus = '16'
          memory = '30G'
          time = { 45.min * task.attempt }
          errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
          maxRetries = 3
        }

        withName: 'metaphlan4SE' {
          cpus = '16'
          memory = '30G'
          time = { 15.min * task.attempt }
          errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
          maxRetries = 3
        }

        withName: 'abricate' {
          cpus = 2
          memory = '2G'
          time = { 10.min * task.attempt }
          errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
          maxRetries = 3
        }

        withName: 'busco' {
          cpus = '16'
          memory = '15G'
          time = { 1.hour * task.attempt }
          errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
          maxRetries = 3
        }

        withName: 'gtdbtk_classify_wf' {
          cpus = '16'
          memory = '80G'
          time = {'1.hour' * task.attempt }
          errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
          maxRetries = 3
        }

        withName: 'alignRemapping' {
          cpus = '8'
          memory = {task.attempt==1 ? '5G' : '8G'}
          time = { 15.m * task.attempt }
        }

        withName: 'alignRemappingSE' {
          cpus = '8'
          memory = {task.attempt==1 ? '5G' : '8G'}
          time = { 15.m * task.attempt }
        }

        withName: 'link_reads' {
          container = null
          cpus = '1'
          memory = '1G'
        }

        withName: 'links_for_transfer' {
          container = null
          cpus = '1'
          memory = '1G'
        }

        withName: 'summary_sample' {
          container = null
          cpus = '1'
          memory = '1G'
        }

        withName: 'merge_summaries' {
          container = null
          cpus = '1'
          memory = '1G'
        }
     }
   }


}
