
params {

        run_id          = ""

        input_type      = "bcl"

        input           = ""

        single_sample   = "-"

        SE              = "NO"

        illuminaclip    = "/shares/amr.imm.uzh/bioinfo/scripts/NexteraPE-PE.fa"

        trimmomatic_PE_extra = "SLIDINGWINDOW:4:12 MINLEN:100"
        trimmomatic_SE_extra = "SLIDINGWINDOW:4:12 MINLEN:70"

        busco_files     = "/shares/amr.imm.uzh/bioinfo/databases/busco_downloads"

        gtdb_db         = "/shares/amr.imm.uzh/bioinfo/databases/gtdbtk_r207_v2"

        db_rMLST        = "/shares/amr.imm.uzh/bioinfo/databases/rMLST/database_20220527"
        bigsdb_rMLST    = "/shares/amr.imm.uzh/bioinfo/databases/rMLST/database_20220527/bigsdb-rMLST.txt"

        db_16s          = "/shares/amr.imm.uzh/bioinfo/databases/16S_ribosomal_20230204"

        metaphlan_db    = "/shares/amr.imm.uzh/bioinfo/databases/metaphlan/db"
        metaphlan_db_name = "mpa_v30_CHOCOPhlAn_201901"
 

        //email           = "ngs@imm.uzh.ch"
        email           = "pbieberstein@imm.uzh.ch" // by PVB for troubleshooting. TODO change back

}
