params {

        run_id          = ""

        input_type      = "bcl"

        input           = ""

        single_sample   = "-"

        SE              = "NO"

        illuminaclip    = "/net/cephfs/shares/amr.imm.uzh/bioinfo/scripts/NexteraPE-PE.fa"

        trimmomatic_PE_extra = "SLIDINGWINDOW:4:12 MINLEN:100"
        trimmomatic_SE_extra = "SLIDINGWINDOW:4:12 MINLEN:70"

        busco_lineage   = "/net/cephfs/shares/amr.imm.uzh/bioinfo/databases/busco_downloads/lineages/bacteria_odb10/"
        busco_files     = "/net/cephfs/shares/amr.imm.uzh/bioinfo/databases/busco_downloads"

        gtdb_db         = "/net/cephfs/shares/amr.imm.uzh/bioinfo/databases/gtdbtk_r207_v2"

        db_rMLST        = "/net/cephfs/shares/amr.imm.uzh/bioinfo/databases/rMLST/database_20220527"
        bigsdb_rMLST    = "/net/cephfs/shares/amr.imm.uzh/bioinfo/databases/rMLST/database_20220527/bigsdb-rMLST.txt"

        db_16s          = "/net/cephfs/shares/amr.imm.uzh/bioinfo/databases/16S_ribosomal_20220505"

        metaphlan_db    = "/net/cephfs/shares/amr.imm.uzh/bioinfo/databases/metaphlan/db"
        metaphlan_db_name = "mpa_v30_CHOCOPhlAn_201901"

        email           = "mmeola@imm.uzh.ch"
