//TODO: Define container images for each process here
//================================================
//=========== Container Images for all Process ===
//================================================

//NOTE: Keep Alphabetical order when adding new processes:

process {

    // This is the default container image if no container is specified for a task
    container = 'quay.io/biocontainers/unicycler:0.4.8--py39h98c8e45_5'

    withName: 'abricate' {
        container = 'quay.io/biocontainers/abricate:1.0.1--ha8f3691_2'
    }

    withName: 'bcl2fastq' {
        container = 'jlboat-BioinfoContainers_bcl2fastq'
    }

    withName: 'busco.*' {
        container = 'ezlabgva-busco_v5.3.2_cv1'
    }

    withName: 'bwa.*' {
        container = 'quay.io/biocontainers/bwa:0.7.17--h5bf99c6_8'
    }

    withName: 'fastqc.*' {
        container = 'quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0'
    }

    withName: 'generate_resistance_table' {
        container = 'ezlabgva-busco_v5.3.2_cv1'
    }

    withName: 'gtdbtk_classify_wf' {
        container = 'quay.io/biocontainers/gtdbtk:2.3.2--pyhdfd78af_0'
    }

    withName: 'link_reads' {
        container = null
    }

    withName: 'links_for_transfer' {
        container = null
    }

    withName: 'merge_run_resistances' {
        container = null
    }

    withName: 'merge_summaries' {
        container = null
    }

    withName: 'metaphlan4' {
        container = 'quay.io/biocontainers/metaphlan:4.1.0--pyhca03a8a_0'
    }

    withName: 'metaphlan4SE' {
        container = 'quay.io/biocontainers/metaphlan:4.1.0--pyhca03a8a_0'
    }

    withName: 'multiqc.*' {
        container = 'quay.io/biocontainers/multiqc:1.11--pyhdfd78af_0'
    }

    withName: 'pilon_remapping' {
        container = 'quay.io/biocontainers/pilon:1.24--hdfd78af_0'
    }

    withName: 'pilon_remappingSE' {
        container = 'quay.io/biocontainers/pilon:1.24--hdfd78af_0'
    }

    withName: 'prokka' {
        container = 'quay.io/biocontainers/prokka:1.14.6--pl5262hdfd78af_1'
    }

    withName: 'quast' {
        container = 'quay.io/biocontainers/quast:5.0.2--py37pl5262h190e900_4'
    }

    withName: 'rMLST.*' {
        container = 'quay.io/biocontainers/prokka:1.14.6--pl5262hdfd78af_1'
    }

    withName: 'samtools' {
        container = 'quay.io/biocontainers/samtools:1.19.2--h50ea8bc_1'
    }

    withName: 'summary_sample' {
        container = null
    }

    withName: 'trimmomaticPE' {
        container = 'quay.io/biocontainers/trimmomatic:0.39--hdfd78af_2'
    }

    withName: 'trimmomaticSE' {
        container = 'quay.io/biocontainers/trimmomatic:0.39--hdfd78af_2'
    }

    withName: 'typing_16S' {
        container = 'quay.io/biocontainers/blast:2.12.0--pl5262h3289130_0'
    }

    withName: 'unicycler' {
        container = 'quay.io/biocontainers/unicycler:0.4.8--py39h98c8e45_5'
    }

    withName: 'unicyclerSE' {
        container = 'quay.io/biocontainers/unicycler:0.4.8--py39h98c8e45_5'
    }

}