//TODO: Define container images for each process here
//================================================
//=========== Container Images for all Process ===
//================================================

//NOTE: Keep Alphabetical order when adding new processes:

process {

    // This is the default container image if no container is specified for a task
    container = 'quay.io/biocontainers/unicycler:0.4.8--py39h98c8e45_5'

    withName: 'abricate' {
        container = 'quay.io/biocontainers/abricate:1.0.1--ha8f3691_2'
    }

    withName: 'amrfinderplus' {
        container = "quay.io/biocontainers/ncbi-amrfinderplus:4.0.23--hf69ffd2_0"
    }

    withName: 'bakta' {
        container = "quay.io/biocontainers/bakta:1.9.3--pyhdfd78af_0"
    }

    withName: 'bcl2fastq' {
        container = 'nfcore/bcl2fastq:2.20.0.422'
    }

    withName: 'busco.*' {
        container = 'ezlabgva-busco_v5.3.2_cv1'
    }

    withName: 'bwaAlign_insertsize_coverage.*' {
        container = 'pbieber/bwa-pilon-samtools-python:2.0.0'
    }

    withName: 'checkm' {
        container = 'quay.io/biocontainers/checkm-genome:1.2.2--pyhdfd78af_1'
    }

    withName: 'fastqc.*' {
        container = 'quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0'
    }

    withName: 'generate_resistance_table' {
        container = 'ezlabgva-busco_v5.3.2_cv1'
    }

    withName: 'gtdbtk_classify_wf' {
        container = 'quay.io/biocontainers/gtdbtk:2.3.2--pyhdfd78af_0'
    }

    withName: 'insilicoseq' {
        container = 'quay.io/biocontainers/insilicoseq:2.0.0--pyh7cba7a3_0'
          }

    withName: 'link_reads' {
        container = null
    }

    withName: 'links_for_transfer' {
        container = null
    }

    withName: 'merge_run_resistances' {
        container = null
    }

    withName: 'merge_summaries' {
        // Needs a container with python and basic packages installed
        container = 'quay.io/biocontainers/pymlst:2.1.6--pyhdfd78af_0'
    }

    withName: 'metaphlan4' {
        container = 'quay.io/biocontainers/metaphlan:4.1.0--pyhca03a8a_0'
    }

    withName: 'metaphlan4SE' {
        container = 'quay.io/biocontainers/metaphlan:4.1.0--pyhca03a8a_0'
    }

    withName: 'multiqc.*' {
        container = 'quay.io/biocontainers/multiqc:1.23--pyhdfd78af_0'
    }

    withName: 'lissero' {
        container = 'quay.io/biocontainers/lissero:0.4.9--py_0'
    }

    withName: 'pymlst.*' {
          container = 'quay.io/biocontainers/pymlst:2.1.6--pyhdfd78af_0'
        }
    
    withName: 'mlst' {
        container = 'quay.io/biocontainers/mlst:2.22.0--hdfd78af_0'
    }

    withName: 'quast' {
        container = 'quay.io/biocontainers/quast:5.0.2--py37pl5262h190e900_4'
    }

    withName: 'rMLST' {
        container = 'quay.io/biocontainers/blast:2.14.1--pl5321h6f7f691_0'
    }

    withName: 'rMLST_call' {
        container = 'pbieber/bwa-pilon-samtools-python:2.0.0'
    }

    withName: 'summary_sample' {
        container = null
    }

    withName: 'tbprofiler' {
        container = 'quay.io/biocontainers/tb-profiler:6.3.0--pyhdfd78af_0'
    }

    withName: 'trimmomaticPE' {
        container = 'quay.io/biocontainers/trimmomatic:0.39--hdfd78af_2'
    }

    withName: 'trimmomaticSE' {
        container = 'quay.io/biocontainers/trimmomatic:0.39--hdfd78af_2'
    }

    withName: 'typing_16S' {
        container = 'quay.io/biocontainers/blast:2.14.1--pl5321h6f7f691_0'
    }

    withName: 'unicycler' {
        container = 'quay.io/biocontainers/unicycler:0.5.0--py39heaaa4ec_5'
        
    }

    withName: 'unicyclerSE' {
        container = 'quay.io/biocontainers/unicycler:0.5.0--py39heaaa4ec_5'
    }

}