
params {
        run_id          = ""
        input_type      = "bcl"
        input           = ""
        single_sample   = ""
        SE              = "NO"

        singularity_container_cache = "/shares/amr.imm.uzh/.singularity_IMMENSE"

        trimmomatic_PE_extra = "SLIDINGWINDOW:4:12 MINLEN:100"
        trimmomatic_SE_extra = "SLIDINGWINDOW:4:12 MINLEN:70"

        busco_files     = "/shares/amr.imm.uzh/bioinfo/databases/busco_downloads"

        gtdb_db         = "/shares/amr.imm.uzh/bioinfo/databases/gtdbtk_r207_v2"

        db_rMLST        = "/shares/amr.imm.uzh/bioinfo/databases/rMLST/database_20220527"
        bigsdb_rMLST    = "/shares/amr.imm.uzh/bioinfo/databases/rMLST/database_20220527/bigsdb-rMLST.txt"

        db_16s          = "/shares/amr.imm.uzh/bioinfo/databases/16S_ribosomal_20230204"
        
        metaphlan_db    = "/shares/amr.imm.uzh/bioinfo/databases/metaphlan/Metaphlan4_Jun23"
        metaphlan_db_name = "mpa_vJun23_CHOCOPhlAnSGB_202307"

        //output_dir      = "./results/samples" // to be used in processes
        //output_dir_run  = "./${params.run_id} // to be used in processes

        //email           = "ngs@imm.uzh.ch"
        email           = "pbieberstein@imm.uzh.ch" // by PVB for troubleshooting. TODO change back

}
