
profiles {
  imm {                     // Name of the profile
    // Local resources to make available for the pipeline run
      executor {
          name='local'
          cpus = 224 
          memory = '800 GB'
      }

      //================================================
      //=========== Parameters for Dependencies ========
      //================================================

 	params {
        	run_id          = ""
        	input_type      = "bcl"
        	input           = ""
        	single_sample   = ""
        	SE              = "NO"
	
       	 	singularity_container_cache = "/mnt/nfs/ngs/share/software/pipelines/IMMense_dependencies/singularity"

        	trimmomatic_PE_extra = "SLIDINGWINDOW:4:12 MINLEN:100"
        	trimmomatic_SE_extra = "SLIDINGWINDOW:4:12 MINLEN:70"
	
	        bakta_db          = "/mnt/nfs/ngs/share/software/pipelines/IMMense_dependencies/bakta/db"
	
        	busco_files       = "/mnt/nfs/ngs/share/software/pipelines/IMMense_dependencies/busco_downloads"

        	gtdb_db           = "/mnt/nfs/ngs/share/software/pipelines/IMMense_dependencies/gtdb/release_r226"

        	db_rMLST          = "/mnt/nfs/ngs/share/software/pipelines/IMMense_dependencies/rMLST/database_20220527"
        	bigsdb_rMLST      = "/mnt/nfs/ngs/share/software/pipelines/IMMense_dependencies/rMLST/database_20220527/bigsdb-rMLST.txt"
		
        	db_16s            = "/mnt/nfs/ngs/share/software/pipelines/IMMense_dependencies/BLAST/16S_ribosomal_20230204"

        	metaphlan_db      = "/mnt/nfs/ngs/share/software/pipelines/IMMense_dependencies/metaphlan/mpa_vJun23_CHOCOPhlAnSGB_202307"
        	metaphlan_db_name = "mpa_vJun23_CHOCOPhlAnSGB_202307"

        	pymlst_cgmlst_db  = "/mnt/nfs/ngs/share/software/pipelines/IMMense_dependencies/pyMLST/cgMLST"
        	pymlst_identity   = 0.9
        	pymlst_coverage   = 1.0
        	pymlst_nb_alleles = 10

        	quality_rules     = "/mnt/nfs/ngs/share/software/pipelines/IMMense_dependencies/QC_bacteria/rules.csv"

        	amrfinderplus_db  = "/mnt/nfs/ngs/share/software/pipelines/IMMense_dependencies/AMRfinderplus/latest"

        	output_dir_sample = "assembly/results" // Output directory for sample-specific results
       	 	output_dir_run    = "${params.run_id}_transfer_result" // Output directory for run-specific results

        	email             = "ngs@imm.uzh.ch"

        }

      //===================================================
      //==== Infrastructure Specific Resource Settings ====
      //===================================================

      process {
          containerOptions = { workflow.containerEngine == "docker" ? '-u $(id -u):$(id -g)': null}
          time = {'10.min' * task.attempt }
          cpus = '4'
          memory = '4G'
          maxRetries    = 2
          errorStrategy = { task.attempt <= process.maxRetries  ? 'retry' : 'ignore' }

          withName: 'amrfinderplus' {
            cpus = '2'
            memory = '1G'
            time = { 10.min * task.attempt }
          }

          withName: 'bakta' {
            cpus = 8
            memory = '15G'
            time = { 30.min * task.attempt }
          }

          withName: 'bcl2fastq' {
            cpus = '16'
            memory = '50G'
            time = { 1.hour * task.attempt }
          }

          withName: 'checkm' {
            cpus = '8'
			      memory = '15G'
            time = { 15.min * task.attempt }
          }

          withName: 'fastqc.*' {
            cpus = '2'
            memory = '6G'
            time = { 5.min * task.attempt }
          }

          withName: 'multiqc.*' {
            cpus = {task.attempt==1 ? '1' : '2'}
            memory = {task.attempt==1 ? '2G' : '4G'}
          }

          withName: 'trimmomaticPE' {
            cpus = '4'
            memory = '10G'
            time = { 15.min * task.attempt }
          }

          withName: 'trimmomaticSE' {
            cpus = '4'
            memory = '10G'
            time = { 15.min * task.attempt }
          }

          withName: 'unicycler' {
            cpus = '16'
            memory = '15G'
            time = { 5.hour * task.attempt}
            errorStrategy = { task.attempt <= 1  ? 'retry' : 'ignore' } // putting limit on exponential time increase
          }

          withName: 'unicyclerSE' {
            cpus = '16'
            memory = '15G'
            time = { 5.hour * task.attempt}
            errorStrategy = { task.attempt <= 1  ? 'retry' : 'ignore' } // putting limit on exponential time increase
          }

          withName: "bwaAlign_insertsize_coverage.*" {
            cpus = '16'
            memory = '20G'
              time = { 30.minute * task.attempt }	
          }

          withName: 'pymlst.*' {
          cpus = '4'
		      memory = '4G'
          time = { 4.hour * task.attempt }
          maxForks = 1 // Only allow 1 instance at a time of this process (database can only handle 1 per species)
          maxRetries    = 2
          errorStrategy = { task.attempt <= 2  ? 'retry' : 'ignore' }
        }

          withName: 'rMLST' {
            cpus = '4'
            memory = '2G'
            time = { 15.min * task.attempt }
        }

          withName: 'rMLST_call' {
            executor = 'local'
            cpus = '1'
            memory = '2G'
            time = {'5.min' * task.attempt }
        }

          withName: 'metaphlan4' {
            cpus = '16'
            memory = '30G'
            time = { 45.min * task.attempt }
          }

          withName: 'metaphlan4SE' {
            cpus = '16'
            memory = '30G'
            time = { 45.min * task.attempt }
          }

          withName: 'abricate' {
            cpus = 2
            memory = '2G'
            time = { 10.min * task.attempt }
          }

          withName: 'busco' {
            cpus = '16'
            memory = '15G'
            time = { 1.hour * task.attempt }
          }

          withName: 'gtdbtk_classify_wf' {
            cpus = '16'
            memory = '80G'
            time = {'1.hour' * task.attempt }
          }

          withName: 'extract_gtdb_output' {
            cpus = '1'
            memory = '1G'
            time = {'5.min' * task.attempt }
          }

          withName: 'link_reads' {
            cpus = '1'
            memory = '1G'
          }

          withName: 'links_for_transfer' {
            cpus = '1'
            memory = '1G'
          }

          withName: 'summary_sample' {
            cpus = '1'
            memory = '1G'
          }

          withName: 'merge_summaries' {
            cpus = '1'
            memory = '1G'
          }

          withName: 'generate_resistance_table' {
            cpus = '1'
            memory = '2G'
          }

          withName: 'merge_run_resistances' {
            cpus = '1'
            memory = '1G'
          }

          withName: 'make_one_contig' {
          executor = 'local'
          cpus = '1'
          memory = '1G'
          }
          withName: 'tbprofiler' {
            executor = 'local'
            cpus = '1'
            memory = '4G'
          }
          withName: 'lissero' {
            executor = 'local'
            cpus = '1'
            memory = '2G'
          }
          withName: 'insilicoseq' {
            executor = 'local'
            cpus = '2'
            memory = '4G'
          }
       }
     }
}
