
profiles {
  imm {                     // Name of the profile
    // Local resources to make available for the pipeline run
      executor {
          name='local'
          cpus = 112 
          memory = '500 GB'
      }

      //================================================
      //=========== Parameters for Dependencies ========
      //================================================

      params {
        run_id          = ""
        input_type      = "fastq"
        input           = ""
        single_sample   = ""
        SE              = "NO"

        singularity_container_cache = "/srv/samba/Share/data/tool_datasets/IMMense_dependencies/singularity"

        trimmomatic_PE_extra = "SLIDINGWINDOW:4:12 MINLEN:100"
        trimmomatic_SE_extra = "SLIDINGWINDOW:4:12 MINLEN:70"

        busco_files     = "/srv/samba/Share/data/tool_datasets/IMMense_dependencies/busco_downloads"

        gtdb_db         = "/srv/samba/Share/data/tool_datasets/IMMense_dependencies/gtdb/gtdbtk_r207_v2/cpu1_release207_v2/release207_v2"

        db_rMLST        = "/srv/samba/Share/data/tool_datasets/IMMense_dependencies/rMLST/database_20220527"
        bigsdb_rMLST    = "/srv/samba/Share/data/tool_datasets/IMMense_dependencies/rMLST/database_20220527/bigsdb-rMLST.txt" //TODO: Remove this, If this file is automatically included in the dataset

        db_16s          = "/srv/samba/Share/data/tool_datasets/IMMense_dependencies/BLAST/16S_ribosomal_RNA/20240425"
        
        metaphlan_db    = "/srv/samba/Share/data/tool_datasets/IMMense_dependencies/metaphlan/mpa_vJun23_CHOCOPhlAnSGB_202307"
        metaphlan_db_name = "mpa_vJun23_CHOCOPhlAnSGB_202307"

        pymlst_cgmlst_db = "/srv/samba/Share/data/tool_datasets/IMMense_dependencies/pyMLST/cgMLST"
        pymlst_identity  = 0.9
        pymlst_coverage  = 1.0
        pymlst_nb_alleles= 10

        //quality_rules   = "/home/spsp/data/NG/spsp-tools/QC/bacteria/rules_latest.csv"

        output_dir_sample      = "assembly/results" // Output directory for sample-specific results        
        output_dir_run  = "${params.run_id}_transfer_result" // Output directory for run-specific results

        email           = ""
      }

      //===================================================
      //==== Infrastructure Specific Resource Settings ====
      //===================================================

      process {
          containerOptions = { workflow.containerEngine == "docker" ? '-u $(id -u):$(id -g)': null}
          time = {'10.min' * task.attempt }
          cpus = '4'
          memory = '4G'
          maxRetries    = 2
          errorStrategy = { task.attempt <= process.maxRetries  ? 'retry' : 'ignore' }

          withName: 'bcl2fastq' {
            cpus = '16'
            memory = '50G'
            time = { 1.hour * task.attempt }
          }

          withName: 'fastqc.*' {
            cpus = '2'
            memory = '6G'
            time = { 5.min * task.attempt }
          }

          withName: 'multiqc.*' {
            cpus = {task.attempt==1 ? '1' : '2'}
            memory = {task.attempt==1 ? '2G' : '4G'}
          }

          withName: 'trimmomaticPE' {
            cpus = '4'
            memory = '10G'
            time = { 15.min * task.attempt }
          }

          withName: 'trimmomaticSE' {
            cpus = '4'
            memory = '10G'
            time = { 15.min * task.attempt }
          }

          withName: 'unicycler' {
            cpus = '16'
            memory = '15G'
            time = { 3.hour * task.attempt * task.attempt}
            errorStrategy = { task.attempt <= 1  ? 'retry' : 'ignore' } // putting limit on exponential time increase
          }

          withName: 'unicyclerSE' {
            cpus = '16'
            memory = '15G'
            time = { 3.hour * task.attempt * task.attempt}
            errorStrategy = { task.attempt <= 1  ? 'retry' : 'ignore' } // putting limit on exponential time increase
          }

          withName: 'bwaIndex' {
            cpus = 4
            memory = '2G'

          }

          withName: 'samtools' {
            cpus = 4
            memory = '8G'
            time = { 10.minute * task.attempt }
          }

          withName: 'pilon_remapping' {
            cpus = 4
            memory = '20G'
            time = { 10.min * task.attempt }
          }

          withName: 'pilon_remappingSE' {
            cpus = 4
            memory = '20G'
            time = { 10.min * task.attempt }
          }

          withName: 'prokka' {
            cpus = 10
            memory = '8G'
            time = { 1.hour * task.attempt }
          }

          withName: 'pymlst.*' {
          cpus = 1
          time = { 15.min * task.attempt }
        }

          withName: 'rMLST' {
            cpus = 4
            memory = '4G'
            time = { 15.min * task.attempt }
          }

          withName: 'metaphlan4' {
            cpus = '16'
            memory = '30G'
            time = { 45.min * task.attempt }
          }

          withName: 'metaphlan4SE' {
            cpus = '16'
            memory = '30G'
            time = { 45.min * task.attempt }
          }

          withName: 'abricate' {
            cpus = 2
            memory = '2G'
            time = { 10.min * task.attempt }
          }

          withName: 'busco' {
            cpus = '16'
            memory = '15G'
            time = { 1.hour * task.attempt }
          }

          withName: 'gtdbtk_classify_wf' {
            cpus = '16'
            memory = '80G'
            time = {'1.hour' * task.attempt }
          }

          withName: 'bwaAlign' {
            cpus = '8'
            memory = {task.attempt==1 ? '5G' : '8G'}
            time = { 15.m * task.attempt }
          }

          withName: 'bwaAlignSE' {
            cpus = '8'
            memory = {task.attempt==1 ? '5G' : '8G'}
            time = { 15.m * task.attempt }
          }

          withName: 'link_reads' {
            cpus = '1'
            memory = '1G'
          }

          withName: 'links_for_transfer' {
            cpus = '1'
            memory = '1G'
          }

          withName: 'summary_sample' {
            cpus = '1'
            memory = '1G'
          }

          withName: 'merge_summaries' {
            cpus = '1'
            memory = '1G'
          }

          withName: 'generate_resistance_table' {
            cpus = '1'
            memory = '2G'
          }

          withName: 'merge_run_resistances' {
            cpus = '1'
            memory = '1G'
          }

       }
     }
}