// All the executer & process specific stuff for SLURM on S3IT
profiles {
	
	s3it { 							// Name of the profile
		executor {
		    name="slurm"
		    queueSize = 100 // The limit is 1000 on the S3IT cluster
		    pollInterval = '5s'
		    //clusterOptions = '--time=00:30:00'
		    submitRateLimit = '1/2sec' // prevents overloading of SLURM scheduler
		    exitReadTimeout = '10m'
		    retry.delay = '2s'
		    queueGlobalStatus = true // checks all SLURM queues in case some jobs where assigned elsewhere
		 }

	//================================================
	//=========== Parameters for Dependencies ========
	//================================================
	 	
	params {
        run_id          = ""
        input_type      = "bcl"
        input           = ""
        single_sample   = ""
        SE              = "NO"

        singularity_container_cache = "/shares/amr.imm.uzh/.singularity_IMMENSE"

        trimmomatic_PE_extra = "SLIDINGWINDOW:4:12 MINLEN:100"
        trimmomatic_SE_extra = "SLIDINGWINDOW:4:12 MINLEN:70"
		
		bakta_db        = "/shares/amr.imm.uzh/bioinfo/databases/bakta/db"

        busco_files     = "/shares/amr.imm.uzh/bioinfo/databases/busco_downloads"

        gtdb_db         = "/shares/amr.imm.uzh/bioinfo/databases/gtdbtk_r207_v2"

        db_rMLST        = "/shares/amr.imm.uzh/bioinfo/databases/rMLST/database_20220527"
        bigsdb_rMLST    = "/shares/amr.imm.uzh/bioinfo/databases/rMLST/database_20220527/bigsdb-rMLST.txt"

        db_16s          = "/shares/amr.imm.uzh/bioinfo/databases/16S_ribosomal_20230204"
        
        metaphlan_db    = "/shares/amr.imm.uzh/bioinfo/databases/metaphlan/Metaphlan4_Jun23"
        metaphlan_db_name = "mpa_vJun23_CHOCOPhlAnSGB_202307"

		pymlst_cgmlst_db = "/shares/amr.imm.uzh/bioinfo/databases/pyMLST/cgMLST"
        pymlst_identity  = 0.9
        pymlst_coverage  = 1.0
        pymlst_nb_alleles= 10

        quality_rules   = "/shares/amr.imm.uzh/bioinfo/databases/QC_bacteria/rules.csv"

		amrfinderplus_db = "/shares/amr.imm.uzh/bioinfo/databases/AMRfinderplus/2025-06-03.1"

		output_dir_sample      = "assembly/results" // Output directory for sample-specific results        
        output_dir_run  = "${params.run_id}_transfer_result" // Output directory for run-specific results


        email           = "ngs@imm.uzh.ch"

	}

	//===================================================
	//==== Infrastructure Specific Resource Settings ====
	//===================================================

	 process {
	    containerOptions = { workflow.containerEngine == "docker" ? '-u $(id -u):$(id -g)': null}
	    time = {'10.min' * task.attempt }
		cpus = '3'
		memory = '2G'
        maxRetries    = 2
        errorStrategy = { task.attempt <= process.maxRetries  ? 'retry' : 'ignore' }
		cache = 'lenient' // more robust resuming
	    
		withName: 'amrfinderplus' {
			executor = 'local' // run locally on master node
            cpus = '2'
            memory = '2G'
            time = { 10.min * task.attempt }
        }

		withName: 'bakta' {
            cpus = 8
            memory = '15G'
            time = { 30.min * task.attempt }
			scratch = true
		}
	    
	    withName: 'bcl2fastq' {
	      cpus = '16'
	      memory = '50G'
	      time = { 1.hour * task.attempt }
	    }

		withName: 'checkm' {
			cpus = '8'
			memory = '16G'
            time = { 15.min * task.attempt }
          }

	    withName: 'fastqc.*' {
	      cpus = '2'
	      memory = '4G'
	      time = { 5.min * task.attempt }
	      scratch = true  // otherwise it takes forever if cluster is busy
	    }

	    withName: 'multiqc.*' {
	      cpus = {task.attempt==1 ? '1' : '2'}
	      memory = {task.attempt==1 ? '1G' : '5G'}
	    }

	    withName: 'trimmomaticPE' {
	      cpus = '4'
	      memory = '10G'
	      time = { 15.min * task.attempt }
	      scratch = true  // otherwise trimmomatic takes forever if cluster is busy
	    }

	    withName: 'trimmomaticSE' {
	      cpus = '4'
	      memory = '10G'
	      time = { 15.min * task.attempt }
	      scratch = true  // otherwise trimmomatic takes forever if cluster is busy

	    }

	    withName: 'unicycler' {
	      cpus = '16'
	      memory = '20G'
          time = { 2.hour * task.attempt}
          errorStrategy = { task.attempt <= 1  ? 'retry' : 'ignore' } // putting limit on exponential time increase
		  scratch = true // makes it run a lot faster by working locally
	    }

	    withName: 'unicyclerSE' {
	      cpus = '16'
	      memory = '20G'
		  time = { 2.hour * task.attempt}
		  errorStrategy = { task.attempt <= 1  ? 'retry' : 'ignore' } // putting limit on exponential time increase
	      scratch = true // makes it run a lot faster by working locally
	    }

		withName: "bwaAlign_insertsize_coverage.*" {
		  cpus = '16'
		  memory = '20G'
	      time = { 30.minute * task.attempt }	
		}

		withName: 'pymlst.*' {
          cpus = '4'
		  memory = '4G'
          time = { 4.hour * task.attempt }
		  maxForks = 1 // Only allow 1 instance at a time of this process (database can only handle 1 per species)
		  maxRetries    = 2
		  errorStrategy = { task.attempt <= 2  ? 'retry' : 'ignore' }
		  scratch = true
        }

	    withName: 'rMLST' {
		  cpus = '4'
	      memory = '2G'
	      time = { 15.min * task.attempt }
	    }

		withName: 'rMLST_call' {
		  executor = 'local'
	      cpus = '1'
	      memory = '2G'
	      time = {'5.min' * task.attempt }
		}

	    withName: 'metaphlan4' {
	      cpus = '16'
	      memory = '30G'
	      time = { 45.min * task.attempt }
	    }

	    withName: 'metaphlan4SE' {
	      cpus = '16'
	      memory = '30G'
	      time = { 15.min * task.attempt }
	    }

	    withName: 'abricate' {
	      memory = '10G'
	      time = { 10.min * task.attempt }
	    }

	    withName: 'busco' {
	      cpus = '16'
	      memory = '15G'
	      //clusterOptions = '--time=02:00:00'
	      time = { 1.hour * task.attempt }
	      scratch = true
	    }

	    withName: 'gtdbtk_classify_wf' {
	      cpus = '16'
	      memory = '80G'
	      time = {'1.hour' * task.attempt }
	      //clusterOptions = '--time=03:00:00'
	    }

		withName: 'extract_gtdb_output' {
		  executor = 'local'
	      cpus = '1'
	      memory = '1G'
	      time = {'5.min' * task.attempt }
	    }

	    withName: 'link_reads' {
	      executor = 'local'
	      cpus = '1'
	      memory = '1G'
	    }

	    withName: 'links_for_transfer' {
	      executor = 'local'
	      cpus = '1'
	      memory = '1G'
	    }

	    withName: 'summary_sample' {
	      executor = 'local'
	      cpus = '1'
	      memory = '1G'
	    }

	    withName: 'merge_summaries' {
	      executor = 'local'
	      cpus = '1'
	      memory = '1G'
	    }

		withName: 'generate_resistance_table' {
            cpus = '1'
            memory = '2G'
          }

		withName: 'merge_run_resistances' {
            cpus = '1'
            memory = '1G'
          }
		  
		withName: 'make_one_contig' {
			executor = 'local'
			cpus = '1'
			memory = '1G'
		  }
		withName: 'tbprofiler' {
            executor = 'local'
            cpus = '1'
            memory = '4G'
          }
		withName: 'lissero' {
			executor = 'local'
			cpus = '1'
			memory = '2G'
		}
		withName: 'insilicoseq' {
		executor = 'local'
		cpus = '2'
		memory = '4G'
		}
	 }
	}

}
